body {
	width: auto;
	margin: 0px;
	background-image: url('side-bg.jpg');
	background-size: 200px;
}

.header {
	width: 1366px;
	height: 100px;
	background-color:blanchedalmond;
}

.container {
	width: 1366px;

}

.socials {
	width: 683px;
	height: 700px;
	word-wrap: break-word;
	float: left;
	background-image: url("../images/side-bg.jpg")
	
}

.box1 {
	width: 200px;
	margin-left: 200px;
	margin-top: 171px;


}

#box1-button {border-style: solid;
	border-width: 2px;
	text-align: center;
	background-color: aqua
}

.photo-grid {
	width: 683px;
	height: 700px;
	float: right;
	background-color:blanchedalmond;
	word-wrap: break-word;
}

#photo-grid-image {
height: 300px;
}

.box2 {
	width: 300px;
	margin-left: 200px;
}

.photo-grid-text {
	width: 400px;
	word-wrap: break-word;
	text-align: center;
	background-color: white;
	color: black;
	margin-left: 200px;
}

@media (max-width: 414px) and (orientation :portrait) {

	body {
	width: 414px;
	margin: 0px;

}
.header {
	width:414px;
	height: 100px;
	background-color:blanchedalmond;
}

.container {
	width: 414px;
}
.socials {
	width: 414px;
	height: 700px;
	word-wrap: break-word;
	float: left;
	margin-left: 0px;
	background-image: url("../images/side-bg.jpg")

	
}
.box1 {
	width: 414px;
	margin-left: 0px;
	margin-top: 171px;
}
#box1-button {border-style: solid;
	border-width: 2px;
	text-align: center;
	background-color: aqua
}
.photo-grid {
	width: 414px;
	height: 700px;
	float: right;
	background-color:blanchedalmond;
	word-wrap: break-word;
}

#photo-grid-image {
height: 300px;
}

.box2 {
	width: 414px;
	margin-left: 0px;
}

.photo-grid-text {
	width: 414px;
	word-wrap: break-word;
	text-align: center;
	background-color: white;
	color: black;
	margin-left: 0px;
}
}

@media (max-width: 736px) and (orientation :landscape) {
	body {
	width: 736px;
	margin: 0px;

}

.header {
	width:736px;
	height: 100px;
	background-color:blanchedalmond;
}
	.container {
	width: 736px;
}

	.socials {
	width: 736px;
	height: 700px;
	word-wrap: break-word;
	float: left;
	margin-left: 0px;
	background-image: url("../images/side-bg.jpg")

	
}
	.box1 {
	width: 736px;
	margin-left: 0px;
	margin-top: 171px;
}
	#box1-button {border-style: solid;
	border-width: 2px;
	text-align: center;
	background-color: aqua
}
	.photo-grid {
	width: 736px;
	height: 700px;
	float: right;
	background-color:blanchedalmond;
	word-wrap: break-word;
}
	#photo-grid-image {
height: 300px;
}
	.box2 {
	width: 736px;
	margin-left: 0px;
}

	.photo-grid-text {
	width: 736px;
	word-wrap: break-word;
	text-align: center;
	background-color: white;
	color: black;
	margin-left: 0px;
}


	}